<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
      <img src="https://images-na.ssl-images-amazon.com/images/I/41DB1yBEWIL.png" id="icon" alt="User Icon" />
    </div>
   
<div>
  <h1>PATIENT LOGIN</h1>
</div>
<br>
<br>
    <!-- Login Form -->
    
    <form #Ploginform = "ngForm" (ngSubmit)="getpatient()" >
      
      <input type="text" id="email" class="fadeIn second" name="email" 
      placeholder="Email" [(ngModel)]="patient.email" required>
      <br>
      
      <input type="password" id="password"class="fadeIn third" name="password" placeholder="password" [(ngModel)]="patient.password" required >
      
   
      <br>
      <input type="submit" class="fadeIn fourth" value="Log In">
    </form>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a class="underlineHover" href="#">Back To Home</a>
      <br>
      <br>
      <h4><a class="underlineHover" href="doclogin">DOCTOR LOGIN</a></h4>
      <br>
      <h4><a class="underlineHover" href="login">New User? register here </a></h4>
      
    </div>

  </div>
</div>